{
    "presets": [
        "env",
        "react" 
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-replace-object-assign", { "moduleSpecifier": "lodash.assign" }]
    ]
}